.test_content {
    width: 100%; min-height: 100vh;
    background-image: url('../images/line.svg');
    background-position: 50% -103px;
    background-size: 1920px;
    background-repeat: repeat-y;
    background-attachment: fixed;
  }
  @media screen and (max-width: 769px) {
    .test_content {
      background-size: 100%;
      background-position: 50% calc(100vw*(-40/428));
    }
}